<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>form|data</title>
</head>
<body>
<div class="starter-template">
    <form th:action="@{employeeData}" method="post" th:object="${employee}">
      <!--  <input th:field="*{Name}" type="text" th:name="Name" name="Name" placeholder="Name" class="input u-one-third js-get-form-data"/>
-->
        <th:block th:each="add,addStat:*{address}">
            <input th:field="*{address[__${addStat.index}__].description}" type="text" th:name="add.description" name="description" placeholder="description" class="input u-one-third js-get-form-data"/>

        </th:block>
        <!--<input type="submit" value="SEND"/>-->

    <div class="dropdown">
        <button  class="btn grey-dropdown dropdown-toggle" type="submit"
                data-toggle="dropdown">(Select)<span class="caret"></span>
        </button>
        <ul class="dropdown-menu filter-dropdown-items">
            <li th:each="product : ${products}"><a><span
                    th:value="*{name}"  th:text="${product}" th:remove="tag"></span></a></li>
        </ul>
    </div>
    </form>

</div>
</body>
</html>