<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="#"><img src="logo-mobile@2x.png" /></a>
<p th:text="'Hello, ' + ${dy_t1} + '!'" />
</body>
</html>