<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
</head>
<body>
<form action="#" th:action="@{/enterVisitor}" th:object="${visitorForm}" method="post">
    <p>Name: <input type="text" th:field="*{name}" required="required"/></p>
    <p>Address: <input type="text" th:field="*{address}" required="required"/></p>
    <p>Mobile: <input type="text" th:field="*{mobileNumber}" size="10" required="required" maxlength="10"/></p>
    <p>Email: <input type="text" th:field="*{email}" /></p>
    <p>Purpose: <input type="text" th:field="*{purposeOfvisit}" size="20" required="required"/></p>
    <p>In Time:<input type="number" id="inTimee" name="inTimee" contenteditable="false" readonly="readonly"/></p>
    <script type="text/javascript">document.getElementById("inTimee").value=new Date().getTime()</script>
    <p>Employee to Meet:  <select th:field="${visitorForm.id}">
        <!-- <option text=""><option> -->
        <option th:each="emp:${employees}"
                th:value="${emp.name}"
                th:text="${emp.name}"/>
    </select>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>