<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><div class="starter-template">
    <h1>Spring Boot Web Thymeleaf Example</h1>
    <h2>
        <span th:text="'Message: ' + ${message}"></span>
        <a th:href="@{${link}}">view</a>
       <!-- <span th:link="${link}" th:text="${link}"></span>-->
    </h2>
</div>
</body>
</html>